@media all and (min-width: 480px) {
    .Login {
    padding: 60px 0;
    }

    .Login form {
    margin: 0 auto;
    max-width: 320px;
    }

    .field {
        width: 100%;
        height: 40px;
        border: 1px solid #E6E6E6;
        position: relative;
        background-color: rgba(255,255,255,0.3);
        transition: 0.3s all;
        box-shadow: 0px 4px 20px 0px rgba(15, 14, 14, 0.05);
    }
   
}